@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Crypt implementation : © Jordi Jansen <thestartplayer@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * crypt.css
 *
 * Crypt stylesheet
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (crypt_crypt.tpl), and to HTML elements you create dynamically
    (in crypt.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
/* Note: you must not use any @import directive */
/********* You can start writing your CSS below this line: **********/
/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 1;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* latin-ext */
@font-face {
  font-family: "Welcome2019";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("img/Welcome2019.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Welcome2019";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("img/Welcome2019.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, .mode_3d #game_play_area_background {
  background-image: url("img/canvas-background.png");
}
html .whiteblock, .mode_3d #game_play_area_background .whiteblock {
  border-radius: 10px;
}

.player-board {
  background-image: url("img/canvas-white-background.png");
}

.bgabutton.bgabutton_blue, .bgabutton.bgabutton_blue:hover {
  background: #7eced8;
}

.art-card {
  width: 250px;
  height: 425px;
  background-size: auto 600%;
  background-image: url("img/canvas-art-cards.png");
}
.art-card.art-card-1 {
  background-position: 0% 0%;
}
.art-card.art-card-2 {
  background-position: 10% 0%;
}
.art-card.art-card-3 {
  background-position: 20% 0%;
}
.art-card.art-card-4 {
  background-position: 30% 0%;
}
.art-card.art-card-5 {
  background-position: 40% 0%;
}
.art-card.art-card-6 {
  background-position: 50% 0%;
}
.art-card.art-card-7 {
  background-position: 60% 0%;
}
.art-card.art-card-8 {
  background-position: 70% 0%;
}
.art-card.art-card-9 {
  background-position: 80% 0%;
}
.art-card.art-card-10 {
  background-position: 90% 0%;
}
.art-card.art-card-11 {
  background-position: 100% 0%;
}
.art-card.art-card-12 {
  background-position: 0% 20%;
}
.art-card.art-card-13 {
  background-position: 10% 20%;
}
.art-card.art-card-14 {
  background-position: 20% 20%;
}
.art-card.art-card-15 {
  background-position: 30% 20%;
}
.art-card.art-card-16 {
  background-position: 40% 20%;
}
.art-card.art-card-17 {
  background-position: 50% 20%;
}
.art-card.art-card-18 {
  background-position: 60% 20%;
}
.art-card.art-card-19 {
  background-position: 70% 20%;
}
.art-card.art-card-20 {
  background-position: 80% 20%;
}
.art-card.art-card-21 {
  background-position: 90% 20%;
}
.art-card.art-card-22 {
  background-position: 100% 20%;
}
.art-card.art-card-23 {
  background-position: 0% 40%;
}
.art-card.art-card-24 {
  background-position: 10% 40%;
}
.art-card.art-card-25 {
  background-position: 20% 40%;
}
.art-card.art-card-26 {
  background-position: 30% 40%;
}
.art-card.art-card-27 {
  background-position: 40% 40%;
}
.art-card.art-card-28 {
  background-position: 50% 40%;
}
.art-card.art-card-29 {
  background-position: 60% 40%;
}
.art-card.art-card-30 {
  background-position: 70% 40%;
}
.art-card.art-card-31 {
  background-position: 80% 40%;
}
.art-card.art-card-32 {
  background-position: 90% 40%;
}
.art-card.art-card-33 {
  background-position: 100% 40%;
}
.art-card.art-card-34 {
  background-position: 0% 60%;
}
.art-card.art-card-35 {
  background-position: 10% 60%;
}
.art-card.art-card-36 {
  background-position: 20% 60%;
}
.art-card.art-card-37 {
  background-position: 30% 60%;
}
.art-card.art-card-38 {
  background-position: 40% 60%;
}
.art-card.art-card-39 {
  background-position: 50% 60%;
}
.art-card.art-card-40 {
  background-position: 60% 60%;
}
.art-card.art-card-41 {
  background-position: 70% 60%;
}
.art-card.art-card-42 {
  background-position: 80% 60%;
}
.art-card.art-card-43 {
  background-position: 90% 60%;
}
.art-card.art-card-44 {
  background-position: 100% 60%;
}
.art-card.art-card-45 {
  background-position: 0% 80%;
}
.art-card.art-card-46 {
  background-position: 10% 80%;
}
.art-card.art-card-47 {
  background-position: 20% 80%;
}
.art-card.art-card-48 {
  background-position: 30% 80%;
}
.art-card.art-card-49 {
  background-position: 40% 80%;
}
.art-card.art-card-50 {
  background-position: 50% 80%;
}
.art-card.art-card-51 {
  background-position: 60% 80%;
}
.art-card.art-card-52 {
  background-position: 70% 80%;
}
.art-card.art-card-53 {
  background-position: 80% 80%;
}
.art-card.art-card-54 {
  background-position: 90% 80%;
}
.art-card.art-card-55 {
  background-position: 100% 80%;
}
.art-card.art-card-56 {
  background-position: 0% 100%;
}
.art-card.art-card-57 {
  background-position: 10% 100%;
}
.art-card.art-card-58 {
  background-position: 20% 100%;
}
.art-card.art-card-59 {
  background-position: 30% 100%;
}
.art-card.art-card-60 {
  background-position: 40% 100%;
}
.art-card.art-card-61 {
  background-position: 50% 100%;
}
.art-card.art-card-62 {
  background-position: 60% 100%;
}
.art-card.art-card-63 {
  background-position: 70% 100%;
}
.art-card.art-card-64 {
  background-position: 80% 100%;
}
.art-card.art-card-65 {
  background-position: 90% 100%;
}
.art-card.art-card-66 {
  background-position: 100% 100%;
}

.background-card {
  width: 250px;
  height: 425px;
  background-size: auto 300%;
  background-image: url("img/canvas-background-cards.png");
}
.background-card.background-card-1 {
  background-position: 0% 0%;
}
.background-card.background-card-2 {
  background-position: 16.6666666667% 0%;
}
.background-card.background-card-3 {
  background-position: 33.3333333333% 0%;
}
.background-card.background-card-4 {
  background-position: 50% 0%;
}
.background-card.background-card-5 {
  background-position: 66.6666666667% 0%;
}
.background-card.background-card-6 {
  background-position: 83.3333333333% 0%;
}
.background-card.background-card-7 {
  background-position: 100% 0%;
}
.background-card.background-card-8 {
  background-position: 0% 50%;
}
.background-card.background-card-9 {
  background-position: 16.6666666667% 50%;
}
.background-card.background-card-10 {
  background-position: 33.3333333333% 50%;
}
.background-card.background-card-11 {
  background-position: 50% 50%;
}
.background-card.background-card-12 {
  background-position: 66.6666666667% 50%;
}
.background-card.background-card-13 {
  background-position: 83.3333333333% 50%;
}
.background-card.background-card-14 {
  background-position: 100% 50%;
}
.background-card.background-card-15 {
  background-position: 0% 100%;
}
.background-card.background-card-16 {
  background-position: 16.6666666667% 100%;
}
.background-card.background-card-17 {
  background-position: 33.3333333333% 100%;
}
.background-card.background-card-18 {
  background-position: 50% 100%;
}
.background-card.background-card-19 {
  background-position: 66.6666666667% 100%;
}
.background-card.background-card-20 {
  background-position: 83.3333333333% 100%;
}
.background-card.background-card-21 {
  background-position: 100% 100%;
}

.canvas-art-card {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 425px;
  background-color: white;
  border-radius: 10px;
}
.canvas-art-card.bga-cards_selectable-card .card-side {
  outline: 8px rgba(80, 200, 255, 0.75) solid;
  cursor: pointer;
}
.canvas-art-card.bga-cards_selected-card .card-side {
  outline: 8px rgba(124, 252, 0, 0.75) solid;
  cursor: pointer;
}
.canvas-art-card.cost-indicator .card-side::before {
  display: inline-block;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6274509804));
  width: 80px;
  height: 80px;
  margin-left: 85px;
  margin-top: 172.5px;
  content: "";
  background: url("img/canvas-inspiration-token-cost.png") no-repeat 0 0;
  background-size: 100%;
}
.canvas-art-card .canvas-inspiration-token .card-side {
  outline: none !important;
}
.canvas-art-card .inspiration-token-card-stock {
  margin-top: 10px;
}
.canvas-art-card .card-sides .card-side {
  border-radius: 10px;
  width: 250px;
  height: 425px;
}
.canvas-art-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.canvas-art-card .card-sides .card-side.back {
  background-image: url("img/canvas-art-card-back.png");
}
.canvas-background-card {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 425px;
}
.canvas-background-card .card-sides .card-side {
  border-radius: 10px;
  width: 250px;
  height: 425px;
}
.canvas-background-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.canvas-scoring-card {
  display: inline-block;
  position: relative;
  width: 425px;
  height: 250px;
}
.canvas-scoring-card .card-sides .card-side {
  border-radius: 10px;
  width: 425px;
  height: 250px;
}
.canvas-scoring-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.canvas-scoring-card .card-sides .card-side.back {
  background-size: auto 400%;
  background-image: url("img/canvas-scoring-cards-back.png");
}
.canvas-scoring-card .card-sides .card-side.back[data-type="1"] {
  background-position: 0% 0%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="2"] {
  background-position: 50% 0%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="3"] {
  background-position: 100% 0%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="4"] {
  background-position: 0% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="5"] {
  background-position: 50% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="6"] {
  background-position: 100% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="7"] {
  background-position: 0% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="8"] {
  background-position: 50% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="9"] {
  background-position: 100% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="10"] {
  background-position: 0% 100%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="11"] {
  background-position: 50% 100%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="12"] {
  background-position: 100% 100%;
}
.canvas-scoring-card .card-sides .card-side.front {
  background-size: auto 400%;
  background-image: url("img/canvas-scoring-cards-front.png");
}
.canvas-scoring-card .card-sides .card-side.front[data-type="1"] {
  background-position: 0% 0%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="2"] {
  background-position: 50% 0%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="3"] {
  background-position: 100% 0%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="4"] {
  background-position: 0% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="5"] {
  background-position: 50% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="6"] {
  background-position: 100% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="7"] {
  background-position: 0% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="8"] {
  background-position: 50% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="9"] {
  background-position: 100% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="10"] {
  background-position: 0% 100%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="11"] {
  background-position: 50% 100%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="12"] {
  background-position: 100% 100%;
}

.canvas-inspiration-token {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 52px;
}
.canvas-inspiration-token .card-sides .card-side {
  box-shadow: none;
  width: 60px;
  height: 52px;
}
.canvas-inspiration-token .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.canvas-inspiration-token .card-sides .card-side.front {
  background-size: cover;
  background-image: url("img/canvas-inspiration-token-3d.png");
}

#bga-zoom-controls {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 5px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}
.title-wrapper .title {
  background-image: url("img/canvas-paint-strokes.png");
  background-size: 100% 700%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title-wrapper .title.primary {
  background-position: 0 0;
}
.title-wrapper .title.secondary {
  background-position: 0 16.6666666667%;
}
.title-wrapper .title.color-E87885 {
  background-position: 0 33.3333333333%;
}
.title-wrapper .title.color-3BB97D {
  background-position: 0 50%;
}
.title-wrapper .title.color-6FAEDB {
  background-position: 0 66.6666666667%;
}
.title-wrapper .title.color-A18EC2 {
  background-position: 0 83.3333333333%;
}
.title-wrapper .title.color-CEC6C2 {
  background-position: 0 100%;
}
.title-wrapper .title h1 {
  font-family: "Welcome2019", cursive;
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#canvas-table #canvas-board-wrapper {
  display: flex;
  justify-content: center;
}
#canvas-table #canvas-board-wrapper #canvas-board {
  background-image: url("img/canvas-board.png");
  background-repeat: no-repeat;
  width: 2000px;
  height: 885px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  position: relative;
  border-radius: 25px;
}
#canvas-table #canvas-board-wrapper #canvas-board #art-card-display {
  height: 425px;
  position: absolute;
  top: 407px;
  margin-left: 53px;
  width: 1570px;
  display: flex;
  gap: 79px;
}
#canvas-table #canvas-board-wrapper #canvas-board #art-card-display .art-card-display-slot {
  width: 250px;
}
#canvas-table #canvas-board-wrapper #canvas-board #scoring-card-display {
  height: 250px;
  position: absolute;
  top: 107px;
  margin-left: 50px;
  display: flex;
  gap: 40px;
}
#canvas-table #canvas-board-wrapper #canvas-board #art-card-deck {
  height: 425px;
  position: absolute;
  top: 407px;
  right: 0;
  margin-right: 53px;
}
#canvas-table #complete-painting-wrapper {
  display: flex;
  justify-content: center;
}
#canvas-table #complete-painting-wrapper #complete-painting {
  width: 2000px;
  background-image: url("img/canvas-white-background.png");
  background-size: cover;
  display: flex;
  border-radius: 25px;
  justify-content: center;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker-unused {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  gap: 8px;
  height: 425px;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker-unused .art-card.card-side {
  -webkit-box-shadow: inset 0 0 0 8px rgba(80, 200, 255, 0.75);
  -moz-box-shadow: inset 0 0 0 8px rgba(80, 200, 255, 0.75);
  box-shadow: inset 0 0 0 8px rgba(80, 200, 255, 0.75);
  cursor: pointer;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker {
  display: flex;
  position: relative;
  gap: 8px;
  justify-content: center;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker .art-card.card-side {
  -webkit-box-shadow: inset 0 0 0 8px rgba(124, 252, 0, 0.75);
  -moz-box-shadow: inset 0 0 0 8px rgba(124, 252, 0, 0.75);
  box-shadow: inset 0 0 0 8px rgba(124, 252, 0, 0.75);
  cursor: pointer;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker .canvas-art-card {
  background-color: white;
  border-radius: 10px;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker #art-cards-picker-bottom-text, #canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker #art-cards-picker-top-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker .center-button-wrapper {
  position: absolute;
  top: 172.5px;
  z-index: 15;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker .button-wrapper {
  display: flex;
  justify-content: center;
  width: 250px;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker .button-wrapper .bgabutton {
  width: 170px;
  text-align: center;
  font-size: 40px;
  line-height: 20px;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-picker-wrapper #art-cards-picker .complete-painting-art-card-slot {
  width: 250px;
  height: 425px;
  border: 3px solid lightgrey;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Welcome2019", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: lightgrey;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 50px;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-preview #complete-painting-preview-slot-wrapper {
  background-image: url("img/canvas-painting-frame.png");
  background-size: cover;
  width: 545px;
  height: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-preview #complete-painting-preview-scoring {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
#canvas-table #complete-painting-wrapper #complete-painting #complete-painting-preview #complete-painting-preview-scoring .complete-painting-preview-scoring-ribbon {
  font-family: Welcome2019, serif;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 50px;
}
#canvas-table #player-areas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#canvas-table #player-areas .player-area {
  width: 1980px;
  backdrop-filter: blur(10px);
}
#canvas-table #player-areas .player-area .player-hand {
  height: 425px;
}
#canvas-table #player-areas .player-area .player-finished-paintings {
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.canvas-painting-frame {
  background-image: url("img/canvas-painting-frame.png");
  background-size: cover;
  width: 545px;
  height: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-painting {
  display: inline-block;
}
.canvas-painting .canvas-painting-cards-wrapper {
  width: 250px;
  height: 425px;
  position: relative;
}
.canvas-painting .canvas-painting-cards-wrapper .canvas-art-card {
  background: none !important;
}
.canvas-painting .canvas-painting-cards-wrapper .art-card, .canvas-painting .canvas-painting-cards-wrapper .background-card, .canvas-painting .canvas-painting-cards-wrapper .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 425px;
}
.canvas-painting .bgabutton {
  width: 170px;
  text-align: center;
  font-size: 40px;
}
.canvas-painting.large #canvas-copyright {
  width: 363px;
}
.canvas-painting.large .canvas-painting-cards-wrapper {
  width: 363px;
  height: 617px;
}
.canvas-painting.large .canvas-painting-cards-wrapper .art-card, .canvas-painting.large .canvas-painting-cards-wrapper .background-card, .canvas-painting.large .canvas-painting-cards-wrapper .card {
  width: 363px;
  height: 617px;
}

.canvas-ribbon {
  display: inline-block;
  background-image: url("img/canvas-ribbons.png");
  background-size: cover;
  width: 44px;
  height: 70px;
  vertical-align: middle;
}
.canvas-ribbon.small {
  width: 22px;
  height: 35px;
}
.canvas-ribbon.large {
  width: 88px;
  height: 140px;
}
.canvas-ribbon[data-type=green] {
  background-position: 0 0;
}
.canvas-ribbon[data-type=red] {
  background-position: 25% 0;
}
.canvas-ribbon[data-type=blue] {
  background-position: 50% 0;
}
.canvas-ribbon[data-type=purple] {
  background-position: 75% 0;
}
.canvas-ribbon[data-type=grey] {
  background-position: 100% 0;
}

.canvas-inspiration-token-2d {
  display: inline-block;
  background-image: url("img/canvas-inspiration-token.png");
  background-size: cover;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.player-board .canvas-counters {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Welcome2019, serif;
}
.player-board .canvas-counters .counter-void-stock-wrapper {
  display: flex;
  align-items: center;
  font-size: 35px;
}
.player-board .canvas-counters .counter-void-stock-wrapper .counter-void-stock-icon {
  margin: 5px;
}
.player-board .canvas-counters .canvas-ribbon-counter {
  display: flex;
  align-items: center;
  font-size: 35px;
}
.player-board .canvas-counters .canvas-ribbon {
  width: 22px;
  height: 35px;
  margin: 5px;
}

#canvas-overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#html2canvas-result {
  position: fixed;
  left: -1000px;
  top: 0;
}
#html2canvas-result .canvas-copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 2px;
  font-style: italic;
}
#html2canvas-result .art-card, #html2canvas-result .background-card {
  border-radius: 10px;
}

.share-painting-dialog-content {
  width: 545px;
  min-height: 915px;
}
.share-painting-dialog-content span {
  display: block;
  text-align: center;
  padding: 10px;
}
.share-painting-dialog-content .bgabutton {
  display: block;
  text-align: center;
  font-size: 40px;
}

#canvas-show-painting-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform-origin: top center;
  transform: scale(1.5);
}
#canvas-show-painting-overlay.overlay-visible {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=canvas.css.map */
