@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Crypt implementation : © Jordi Jansen <thestartplayer@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * crypt.css
 *
 * Crypt stylesheet
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (crypt_crypt.tpl), and to HTML elements you create dynamically
    (in crypt.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
/* Note: you must not use any @import directive */
/********* You can start writing your CSS below this line: **********/
/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 1;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

html, .mode_3d #game_play_area_background {
  background-image: url("img/canvas-background.png");
  background-size: cover;
}
html .whiteblock, .mode_3d #game_play_area_background .whiteblock {
  border-radius: 10px;
}

.canvas-art-card {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 425px;
}
.canvas-art-card.bga-cards_selectable-card .card-side {
  outline: 8px rgba(80, 200, 255, 0.75) solid;
  cursor: pointer;
}
.canvas-art-card.bga-cards_selected-card .card-side {
  outline: 8px rgba(124, 252, 0, 0.75) solid;
  cursor: pointer;
}
.canvas-art-card.cost-indicator .card-side::before {
  display: inline-block;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6274509804));
  width: 80px;
  height: 80px;
  margin-left: 85px;
  margin-top: 172.5px;
  content: "";
  background: url("img/canvas-inspiration-token-cost.png") no-repeat 0 0;
  background-size: 100%;
}
.canvas-art-card .canvas-inspiration-token .card-side {
  outline: none !important;
}
.canvas-art-card .inspiration-token-card-stock {
  margin-top: 10px;
}
.canvas-art-card .card-sides .card-side {
  border-radius: 10px;
  width: 250px;
  height: 425px;
}
.canvas-art-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.canvas-art-card .card-sides .card-side.back {
  background-image: url("img/canvas-art-card-back.png");
}
.canvas-art-card .card-sides .card-side.front {
  background-size: auto 600%;
  background-image: url("img/canvas-art-cards.png");
}
.canvas-art-card .card-sides .card-side.front[data-type="1"] {
  background-position: 0% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="2"] {
  background-position: 10% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="3"] {
  background-position: 20% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="4"] {
  background-position: 30% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="5"] {
  background-position: 40% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="6"] {
  background-position: 50% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="7"] {
  background-position: 60% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="8"] {
  background-position: 70% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="9"] {
  background-position: 80% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="10"] {
  background-position: 90% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="11"] {
  background-position: 100% 0%;
}
.canvas-art-card .card-sides .card-side.front[data-type="12"] {
  background-position: 0% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="13"] {
  background-position: 10% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="14"] {
  background-position: 20% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="15"] {
  background-position: 30% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="16"] {
  background-position: 40% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="17"] {
  background-position: 50% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="18"] {
  background-position: 60% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="19"] {
  background-position: 70% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="20"] {
  background-position: 80% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="21"] {
  background-position: 90% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="22"] {
  background-position: 100% 20%;
}
.canvas-art-card .card-sides .card-side.front[data-type="23"] {
  background-position: 0% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="24"] {
  background-position: 10% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="25"] {
  background-position: 20% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="26"] {
  background-position: 30% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="27"] {
  background-position: 40% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="28"] {
  background-position: 50% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="29"] {
  background-position: 60% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="30"] {
  background-position: 70% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="31"] {
  background-position: 80% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="32"] {
  background-position: 90% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="33"] {
  background-position: 100% 40%;
}
.canvas-art-card .card-sides .card-side.front[data-type="34"] {
  background-position: 0% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="35"] {
  background-position: 10% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="36"] {
  background-position: 20% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="37"] {
  background-position: 30% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="38"] {
  background-position: 40% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="39"] {
  background-position: 50% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="40"] {
  background-position: 60% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="41"] {
  background-position: 70% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="42"] {
  background-position: 80% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="43"] {
  background-position: 90% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="44"] {
  background-position: 100% 60%;
}
.canvas-art-card .card-sides .card-side.front[data-type="45"] {
  background-position: 0% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="46"] {
  background-position: 10% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="47"] {
  background-position: 20% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="48"] {
  background-position: 30% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="49"] {
  background-position: 40% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="50"] {
  background-position: 50% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="51"] {
  background-position: 60% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="52"] {
  background-position: 70% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="53"] {
  background-position: 80% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="54"] {
  background-position: 90% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="55"] {
  background-position: 100% 80%;
}
.canvas-art-card .card-sides .card-side.front[data-type="56"] {
  background-position: 0% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="57"] {
  background-position: 10% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="58"] {
  background-position: 20% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="59"] {
  background-position: 30% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="60"] {
  background-position: 40% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="61"] {
  background-position: 50% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="62"] {
  background-position: 60% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="63"] {
  background-position: 70% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="64"] {
  background-position: 80% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="65"] {
  background-position: 90% 100%;
}
.canvas-art-card .card-sides .card-side.front[data-type="66"] {
  background-position: 100% 100%;
}

.canvas-background-card {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 425px;
}
.canvas-background-card .card-sides .card-side {
  border-radius: 10px;
  width: 250px;
  height: 425px;
}
.canvas-background-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.canvas-background-card .card-sides .card-side.front {
  background-size: auto 300%;
  background-image: url("img/canvas-background-cards.png");
}
.canvas-background-card .card-sides .card-side.front[data-type="1"] {
  background-position: 0% 0%;
}
.canvas-background-card .card-sides .card-side.front[data-type="2"] {
  background-position: 16.6666666667% 0%;
}
.canvas-background-card .card-sides .card-side.front[data-type="3"] {
  background-position: 33.3333333333% 0%;
}
.canvas-background-card .card-sides .card-side.front[data-type="4"] {
  background-position: 50% 0%;
}
.canvas-background-card .card-sides .card-side.front[data-type="5"] {
  background-position: 66.6666666667% 0%;
}
.canvas-background-card .card-sides .card-side.front[data-type="6"] {
  background-position: 83.3333333333% 0%;
}
.canvas-background-card .card-sides .card-side.front[data-type="7"] {
  background-position: 100% 0%;
}
.canvas-background-card .card-sides .card-side.front[data-type="8"] {
  background-position: 0% 50%;
}
.canvas-background-card .card-sides .card-side.front[data-type="9"] {
  background-position: 16.6666666667% 50%;
}
.canvas-background-card .card-sides .card-side.front[data-type="10"] {
  background-position: 33.3333333333% 50%;
}
.canvas-background-card .card-sides .card-side.front[data-type="11"] {
  background-position: 50% 50%;
}
.canvas-background-card .card-sides .card-side.front[data-type="12"] {
  background-position: 66.6666666667% 50%;
}
.canvas-background-card .card-sides .card-side.front[data-type="13"] {
  background-position: 83.3333333333% 50%;
}
.canvas-background-card .card-sides .card-side.front[data-type="14"] {
  background-position: 100% 50%;
}
.canvas-background-card .card-sides .card-side.front[data-type="15"] {
  background-position: 0% 100%;
}
.canvas-background-card .card-sides .card-side.front[data-type="16"] {
  background-position: 16.6666666667% 100%;
}
.canvas-background-card .card-sides .card-side.front[data-type="17"] {
  background-position: 33.3333333333% 100%;
}
.canvas-background-card .card-sides .card-side.front[data-type="18"] {
  background-position: 50% 100%;
}
.canvas-background-card .card-sides .card-side.front[data-type="19"] {
  background-position: 66.6666666667% 100%;
}
.canvas-background-card .card-sides .card-side.front[data-type="20"] {
  background-position: 83.3333333333% 100%;
}
.canvas-background-card .card-sides .card-side.front[data-type="21"] {
  background-position: 100% 100%;
}

.canvas-scoring-card {
  display: inline-block;
  position: relative;
  width: 425px;
  height: 250px;
}
.canvas-scoring-card .card-sides .card-side {
  border-radius: 10px;
  width: 425px;
  height: 250px;
}
.canvas-scoring-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.canvas-scoring-card .card-sides .card-side.back {
  background-size: auto 400%;
  background-image: url("img/canvas-scoring-cards-back.png");
}
.canvas-scoring-card .card-sides .card-side.back[data-type="1"] {
  background-position: 0% 0%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="2"] {
  background-position: 50% 0%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="3"] {
  background-position: 100% 0%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="4"] {
  background-position: 0% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="5"] {
  background-position: 50% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="6"] {
  background-position: 100% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="7"] {
  background-position: 0% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="8"] {
  background-position: 50% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="9"] {
  background-position: 100% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="10"] {
  background-position: 0% 100%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="11"] {
  background-position: 50% 100%;
}
.canvas-scoring-card .card-sides .card-side.back[data-type="12"] {
  background-position: 100% 100%;
}
.canvas-scoring-card .card-sides .card-side.front {
  background-size: auto 400%;
  background-image: url("img/canvas-scoring-cards-front.png");
}
.canvas-scoring-card .card-sides .card-side.front[data-type="1"] {
  background-position: 0% 0%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="2"] {
  background-position: 50% 0%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="3"] {
  background-position: 100% 0%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="4"] {
  background-position: 0% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="5"] {
  background-position: 50% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="6"] {
  background-position: 100% 33.3333333333%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="7"] {
  background-position: 0% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="8"] {
  background-position: 50% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="9"] {
  background-position: 100% 66.6666666667%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="10"] {
  background-position: 0% 100%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="11"] {
  background-position: 50% 100%;
}
.canvas-scoring-card .card-sides .card-side.front[data-type="12"] {
  background-position: 100% 100%;
}

.canvas-inspiration-token {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 52px;
}
.canvas-inspiration-token .card-sides .card-side {
  box-shadow: none;
  width: 60px;
  height: 52px;
}
.canvas-inspiration-token .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.canvas-inspiration-token .card-sides .card-side.front {
  background-size: cover;
  background-image: url("img/canvas-inspiration-token-3d.png");
}

#bga-zoom-controls {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 5px;
}

#canvas-table #canvas-board-wrapper {
  display: flex;
  justify-content: center;
}
#canvas-table #canvas-board-wrapper #canvas-board {
  background-image: url("img/canvas-board.png");
  background-repeat: no-repeat;
  width: 2000px;
  height: 885px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  position: relative;
  border-radius: 5px;
}
#canvas-table #canvas-board-wrapper #canvas-board #art-card-display {
  height: 425px;
  position: absolute;
  top: 407px;
  margin-left: 53px;
  width: 1570px;
  display: flex;
  gap: 79px;
}
#canvas-table #canvas-board-wrapper #canvas-board #art-card-display .art-card-display-slot {
  width: 250px;
}
#canvas-table #canvas-board-wrapper #canvas-board #scoring-card-display {
  height: 250px;
  position: absolute;
  top: 107px;
  margin-left: 50px;
  display: flex;
  gap: 40px;
}
#canvas-table #canvas-board-wrapper #canvas-board #art-card-deck {
  height: 425px;
  position: absolute;
  top: 407px;
  right: 0;
  margin-right: 53px;
}
#canvas-table .player-area .player-collection-wrapper {
  display: flex;
}
#canvas-table .player-area .player-collection-wrapper .player-collection-wrapper-item {
  flex: 1;
  text-align: center;
}

#canvas-overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/*# sourceMappingURL=canvas.css.map */
